/******************
    bingo game
******************/

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

table{ border-collapse:collapse;}

#control{
    position:fixed;
    left:40%;
    top:30px;
    font-size:20px;
    padding:15px;
    border:1px solid #aaa;
    border-radius:10px;
}
#controluser{
    position:fixed;
    left:50px;
    top:30px;
    font-size:20px;
    padding:15px;
    border:1px solid #aaa;
    border-radius:10px;
}

#controlCom{
    position:fixed;
    right:50px;
    top:30px;
    font-size:20px;
    padding:15px;
    border:1px solid #aaa;
    border-radius:10px;
}

#start{
    background:burlywood;
    color:#222;
    padding:7px 15px;
    border-radius:10px;
    cursor:pointer;
}

#user{
    background:darkgreen;
    color:#ddd;
    padding:7px 15px;
    border-radius:10px;
    cursor:pointer;
}

#computer{
    background:darkred;
    color:#ddd;
    padding:7px 15px;
    border-radius:10px;
    cursor:pointer;
}

#screen{
    display:none;

    background:aquamarine;
    color:#222;
    margin-top:5px;
    padding:7px 15px;
    border-radius:10px;
}

#screenuser{
    display:none;

    background:darkgreen;
    color:#ddd;
    margin-top:5px;
    padding:7px 30px 7px 15px;
    border-radius:10px;
}

#screenCom{
    display:none;

    background:darkred;
    color:#ddd;
    margin-top:5px;
    padding:7px 30px 7px 15px;
    border-radius:10px;
}

#wrap
{
    text-align:center;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
 
}
#wrapUser{
    width:450px;
    margin:150px auto;
    /* text-align:center; */
}
#wrapCom{
    width:450px;
    margin:150px auto;
    /* text-align:center; */
}

#wrapUser .boardBox{
    width:100%;
}
#wrapCom .boardBoxCom{
    width:100%;
}


#wrapUser .boardBox .num{
    border:1px solid black;
    width:20%;
    height:90px;
    font-size:30px;
}
#wrapCom .boardBoxCom .numCom{
    border:1px solid black;
    width:20%;
    height:90px;
    font-size:30px;
}


#wrapUser .boardBox .num:hover{
    background-color:#ddd;
}

#wrapCom .boardBoxCom .numCom:hover{
    background-color:#ddd;
}