/********************
    카드 맞추기 게임
*********************/ 
#vs{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

li{
    list-style-type:none;       /* list type의 모양 삭제 */
}

*{   box-sizing:border-box; width:100%; }

body{margin:0;}

#page0{
    width:860px;;
    height:730px;;
    border:1px solid black;
    background:paleturquoise;
    padding:100px 0 200px 0;
    text-align: center;
}

#page0GameName{
    font-size:50px;
    text-align:center;
    margin-bottom:200px;
    padding:20px 0;
    border-bottom:3px solid black;

}

.p0button{
    width:70%;
    height:60px;
    font-size:30px;
    cursor:pointer;
}
#selEasy{
    margin-bottom:15px;
    background-color:lightgreen;
}
#selNomal{
    margin-bottom:15px;
    background-color:lightseagreen;
}

#selHard{
    background-color:lightsalmon;
}

#gamePage{
    width:860px;
    height:730px;
    border:1px solid black;
    background-color:aquamarine;
    padding:30px;

}

#gamePageHome{
    position:relative;
    display:flex;
    text-align: center;;

}
#gamePageName{
    font-size:25px;
    padding:10px 0 10px 20px;
    border:2px solid black;
    background-color:peru;
    width:70%;
    border-radius:30px;
    margin-right:40px;
    /* text-align: center; */

}

#goHome{
    font-size:25px;
    padding:10px;
    border:2px solid black;
    background-color:lightcoral;
    border-radius:30px;
    cursor:pointer;
    width:28%;
    margin:0 10px;
}

#restart{
    font-size:25px;
    padding:10px;
    border:2px solid black;
    border-radius:30px;
    cursor:pointer;
    width:15%;

}

#gameArea{
    position:relative;
    display:flex;
    /* height:100%; */
    /* width:930px; */
    margin:20px auto;
    padding-top:15px;

}
#playArea{
    width:580px;
    height:550px;
    background-color:lightcyan;
    border-radius:10px;

    /* display:flex; */
    /* flex-wrap:wrap; */
    /* text-align:center; */
    /* justify-content:center; */
    /* align-items:center; */

}
.easyTable{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    height:100%;

    padding:10px;
    border:2px solid green;
    border-radius:10px;
    margin-right:10px;
    /* background-color:lightgrey; */
    font-size:30px;
    text-align:center;
    display:flex;
}

.easy{
    /* height:130px;
    width:180px;
    border:1px solid red;
    background:white; */
    
}
.easyImg{

    width:33%;
    height:25%;
    border:0.5px solid green;
}
.nomalTable{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    height:100%;

    padding:10px;
    border:2px solid green;
    border-radius:10px;
    margin-right:10px;
    /* background-color:lightgrey; */
    font-size:30px;
    text-align:center;
    display:flex;
}

.nomal{
    height:103px;
    width:150px;
    border:1px solid red;
    background:white;
}
.nomalImg{

    width:25%;
    height:20%;
    border:0.5px solid green;
}

.hardTable{
    position:relative;
    display:flex;
    flex-wrap: wrap;
    height:100%;

    padding:10px;
    border:2px solid green;
    border-radius:10px;
    margin-right:10px;
    /* background-color:lightgrey; */
    font-size:30px;
    text-align:center;
    display:flex;
}

.hard{
    height:85px;
    width:150px;
    border:1px solid red;
    background:white;
}
.hardImg{

    width:16%;
    height:16.7%;
    border:0.5px solid green;
}

#conArea{
    margin-left:10px;
    height:100%;
    width:215px;
    border:2px solid red;
    border-radius:10px;
    padding:20px;
    font-size:20px;
    background-color:lightcyan;
    height:550px;

}
#time{
    position:relative;
    display:flex;
    color:darkred;
    padding:5px;
    /* border:1px solid black;
    border-radius:5px; */

    top:5%;
    /* border:2px solid green; */
    
}
#timer1{
    position:relative;
    display:flex;
    font-size:70px;
    /* top:3%; */

    height:50px;
}
#timer2{
    position:relative;
    display:flex;
    font-size:120px;
    color:red;

    /* top:3%; */

    height:50px;
}

#start{
    background-color:lightgoldenrodyellow;
    font-size:25px;
    padding:15px;
    border-radius:5px;
    position:relative;
    display:flex;
    top:45%;
    cursor:pointer;

}
#end{
    background-color: red;
    color:white;
    font-size:25px;
    padding:15px;
    border-radius:5px;
    position:relative;
    display:flex;
    top:45%;
    cursor:pointer;
 
}
#levelText{
    position:relative;
    display:flex;
    top:25%;
    padding:0 5px;

}
#level{
    position:relative;
    display:flex;
    top:26%;
    font-size:20px;
    color:darkred;
    padding:0 5px;

}
#again{
    background-color: red;
    color:white;
    font-size:15px;
    padding:5px;
    border-radius:5px;
    position:relative;
    display:flex;
    top:53%;
    cursor:pointer;
 
}
#next{
    background-color: red;
    color:white;
    font-size:15px;
    padding:15px;
    border-radius:5px;
    position:relative;
    display:flex;
    top:53%;
    cursor:pointer;
    font-size:25px;
 
}
